body {
    margin: 0 !important;
}

#header {
    width: 100vw;
    background-color: #24292e;
    color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    min-height: 55px;
    text-transform: capitalize;
}

#container {
    height: 100%;
    min-height: 55px;
    width: 100%;
    max-width: 990px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#logo,
#header-button,
#nav {
    align-self: center;
}

#logo {
    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4px;
    font-size: 1.5rem;
    cursor: default;
}

.logo:visited {
    color: white;
}

#logo:hover {
    color: lightblue;
}

#header-button {
    fill: #ffffffbf;
    display: none !important;
    padding-right: 10px;
    margin-right: 4px;
    cursor: pointer;
}

#header-button:active {
    fill: #fff;
}

#nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#header-button,
#nav {
    justify-self: end;
}

@media all and (max-width: 700px) {
    #container {
    grid-template-columns: 3fr 1fr;
    }
    #header-button {
    display: block !important;
}
    #nav {
    display: none;
    grid-column: 1/-1;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-start;
    }
    #header #nav a {
    border-top: 1px solid #444d56;
    border-bottom: none !important;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 4px;
    }
}

#header #nav a {
    color: #ffffffbf;
    text-decoration: none;
    margin-right: 10px;
}

#header #nav a:hover {
    color: #fff;
}

#header #nav a.active {
    border-bottom: 2px solid pink;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.05em;
    cursor: default;
}

.hidden {
    display: none;
}

.show {
    display: flex !important;
}